*{
	border: 0;
	margin: 0;
	padding: 0;
}

body
{
	font-size: 16px;
	max-width: 1024px;
	margin: 0px auto;
}

header{
	background: #4A2014;
	padding-bottom: 30px;
	text-align: center;
}

header	span{
margin-left: 400px;
}

#secc01 article{

	background: gray;
	display: inline-block;
	padding-top: 30px;
}


#secc01art02 ul li:before{
	content: " ";
	color: #FF0099;
}

#secc01art02{
	margin-left: 100px;
	padding-left: 30px;
	padding-right: 350px;
	text-align: center;
}

section article input[type="button"]{
	color: white;
	background: #4A2014;
	border-radius: 3px;;
	align-items: center;
}


